{% extends "layout.html" %}
{% block title %}Stuff{% endblock %}
{% block body %}
  <h2>All events you signed up for</h2>
    {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  	{% if signed_events %}
  		{% for event in signed_events %}
  			<h4 >    Event date: {{event.date}}  </h4>
  		{% endfor %}
  	{% endif %}
  	<h2>All events</h2>
  	{% if error_sign %}<div class="error"><strong>Error:</strong> {{ error_sign }}</div>{% endif %}
  	{% if events %}
  		{% for event in events %}
  			<h4>    Event date: {{event.date}}   <a href="/stuff?sign_event_id={{event.event_id}}">Sign Up</a> </h4>
  		{% endfor %}
  	{% endif %}
{% endblock %}
